container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 1920px;
}
header {
    background-color: #f1f1f1;
    margin-bottom: 50px;
    padding: 20px;
    height: 90px;
    text-align: center;
  }
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  article {
    padding: 20px;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
  }

  footer {
    background-color: #f1f1f1;
    margin-top: 50px;
    height: 90px;
    padding: 20px;
    text-align: center;
  }


